</div>
<div class="card-footer">
    <div class="row gap-1">
        <a class="btn btn-primary col" href="/">HOME</a>
        <a class="btn btn-primary col" href="/task/add">ADD TASK</a>
        <a class="btn btn-primary col" href="/category/add">ADD CATEGORY</a>
        <a class="btn btn-primary col" href="/priority/add">ADD PRIORITY</a>
    </div>
</div>
</div>
</div>
</div>
</body>
</html>