<%- include("partials/top") %>
<div class="card-body">
    <a href="/task">ALL TASK</a>
    <a href="/category/all">ALL CATEGOY</a>
    <a href="/priority/all">ALL PRIORITY</a>
</div>
<%- include("partials/bottom") %>

